*{
	padding: 0;
	margin: 0;
}



.container{
	background:#f1f2ed;
	width: 500px;
	height: 650px;
	padding-bottom: 20px;
	padding-top: 500px;
	margin-top:100px;
	position: absolute;
	top:55%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: url(../image/login.png) no-repeat center fixed;
  
}


.fl{
	float: left;
  width: 110px;
  line-height: 35px;
}

.fontLabel{
  color: black;;
  font-weight: bold;
}

.fr{
	float: right;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 20px;
}

.new{
  float: left;
}

.iconBox{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
  background: #ff6600;
}

.radio{
	color: black;
	background: #f1f2ed;
	line-height: 38px;
	font-weight: bold;
}

.terms{
	line-height: 35px;
	text-align: center;
	background: #f1f2ed;
	color: black;
	font-weight: bold;
}

.submit{
	float: right;
	border: none;
	color: white;
	width: 110px;
	height: 35px;
	background: #ff6600;
	text-transform: uppercase;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}


/*navogation bar */







