body {
  align-items: center;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

.form {
  background-color: #15172b;
  box-sizing: border-box;
  height: 100%;
  margin-top: 200px;
 padding-left:30px;
 padding-right: 30px;
 padding-top: 20px;
 padding-bottom: 20px;
  width: 100%;
  margin-bottom:50px;
  
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  color: #eee;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  color: white;
  /* text-align: center; */
}

.ic1 {
  margin-top: 10px;
  font-size: 16px;
  margin-left:10px;
}

.ic2 {
  margin-top: 10px;
}

.input {
  background-color: #303245;
  /* border-radius: 12px; */
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  margin-right:30px;
  outline: 0;
  text-align: center;
  width: 40%;
}

.reset {
  background-color: rgb(0, 221, 96);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  /* margin-top: 38px; */
  outline: 0;
  text-align: center;
  width: 40%;
}

.submit:active {
  background-color: #06b;
}

.form_table{
  width: 100%;
}
